*{
	margin: 0px;
	padding: 0px;
	background: #000;
	font-family: Helvetica, Arial, sans-serif;
}

header{
    margin: 0px auto;
    width: 100%;
    align-items: center;
    height: 100px;
    display: flex;
	justify-content: center;
}

#title{
	color: #f0f8ff;
}

section{
	min-height: 350px;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form{
	height: 100%;
    display: flex;
    width: 60%;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#codigo{
	width: 100%;
    height: 50px;
    color: gray;
    border-radius: 50px;
    background: whitesmoke;
    font-size: 20px;
    text-align: center;
	margin-top: 20px;
}

#codigo:focus{
    outline:none;
}

footer{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

p{
	color: white;
}

#descifrar{
	width: 170px;
    border-radius: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 10px;
}